<%- include('header.ejs') %>
<div class="container">
    <div class="row">
        <div>
            <h3 class="mt-5" id="edituser1">Edit User</h3><span style="background-color: black;"
                class="badge badge-secondary mb-5">User ID :<%= user.id %></span>
        </div>
        <div class="col-6">
            <form class="mt-10" method="post" action="/edituser/<%= user.id %>">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="name" value="<%= user.name %>">
                    <div id="emailHelp" class="form-text">Enter Your full name</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="email" value="<%= user.email %>">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Mobile Number</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="mobile" value="<%= user.mobile %>">
                    <div id="emailHelp" class="form-text">We'll never share your mobile with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                        value="<%= user.password %>">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<%- include('footer.ejs') %>